.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-bar {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.horizontally-centered-container {
    display: flex;
    justify-content: center;
}
.footer-container {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;

    .page-footer {
        text-align: center;
    }
}

.text, .list {
    padding: 2em;
}

.nav-bar {
    white-space: normal;
}

img {
  height: auto;
  max-width: 10%;
}

body, html {
    width: 99%;
    background-size: cover;
}